.space-5 {
  margin: 0 5px;
}

.form-group{
  margin: 20px;
}

.form-group label{
  margin: 8px;
}

.btn-primary{
  margin-left: 20px;
  border-radius: 10px;
}
.form-control{
  border-color: red;
  border-radius: 10px;
}
